<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net45" />
  <package id="Eyes.Sdk" version="2.14.3" targetFramework="net45" />
  <package id="Eyes.Selenium" version="2.12.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="Selenium.Chrome.WebDriver" version="2.38" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.12.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.40.0" targetFramework="net45" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net45" />
</packages>